%h3 The following users are in the trial period

%table
  %tr
    %th First Name
    %th Surname
    %th Email
    %th Account Id
    %th Servers
    %th Trial Ends
    
  - @regs.each do |account| 
    - user = account.users.find(:first)
    - if user != nil
      %tr
        %td
          = user.first_name
        %td
          = user.last_name
        %td
          = user.email
        %td
          = account.id
        %td
          = account.servers.count
        %td
          = account.trial_end

%h3 The following users are active

%table
  %tr
    %th First Name
    %th Surname
    %th Email
    %th Account Id
    %th Servers
    
  - @active.each do |account| 
    - user = account.users.where('login IS NOT NULL').find(:first)
    - if user != nil
      %tr
        %td
          = user.first_name
        %td
          = user.last_name
        %td
          = user.email
        %td
          = account.id
        %td
          = account.servers.count
