%tr
  %td.name
    = link_to incident.server.name, :controller => :statistics, :id => incident.server.id
  %td
    = link_to incident.measure.name, measure_path(incident.measure)
  %td
    %span.label
      = h incident.type_to_text
  %td
    = h incident.description
  %td
    = h incident.created_at
  %td
    - if incident.open
      = h time_ago_in_words(incident.created_at)
    - else
      = h distance_of_time_in_words(incident.created_at, incident.updated_at)
  %td.action
    - if incident.open
      %span.label.label-important
        Open
    - else
      %span.label
        Resolved
