#livestats
  
  %table.table-bordered.table.table-condensed
    %tbody
      %tr
        %td{ :style =>'width: 20%' }
          %span.label Current Load
        %td#cpu-load{ :style =>'width: 20%' }
          = h @server.cpuload
        %td
          #load-graph.progress.progress{ :style => 'margin-bottom: 0' }
        %td#cpu-load2{ :style =>'width: 20%' }
          = h @server.cpuload
          \/ 1.0
      %tr
        %td
          %span.label Memory Used
        %td#memory-used
          = h @server.usedmem
        %td
          #memory-graph.progress.progress{ :style => 'margin-bottom: 0' }
        %td#memory2
          = h @server.usedmem
          MB \/
          = h @server.totalmem
          MB
      - if ! (@server.totalswap == 0 or @server.totalswap == nil)
        %tr
          %td
            %span.label Swap Used
          %td#swap
            = @server.usedswap
          %td
            #swap-graph.progress.progress{ :style => 'margin-bottom: 0' }
          %td#swap2
            = @server.usedswap
            \/
            = @server.totalswap

  %table.table-bordered.table.table-condensed
    %tbody
      - @server.disks.each_index do |i|
        %tr
          %td{ :style =>'width: 20%' }
            %span.label Disk
          %td{ :style =>'width: 20%' }
            = @server.disks[i].path
          != '<td><div id="drive-graph' + i.to_s + '" style="margin-bottom: 0" class="progress progress progress-danger"></div></td>'
          %td{ :style =>'width: 20%' }
            = @server.disks[i].usedspace
            \/
            = @server.disks[i].totalspace

.row
  .span6
    .well
      %h3
        Bandwidth Usage
      %table
        %tr
          %td
            = image_tag 'icons/php.gif'
            TX:
          %td
            %span#tx{ :style => 'margin-left: 20px' }
        %tr
          %td
            = image_tag 'icons/database.gif'
            RX:
          %td
            %span#rx{ :style => 'margin-left: 20px' }
        %tr
          %td
            = image_tag 'icons/zend.gif'
            TX Rate :
          %td
            %span#tx_rate{ :style => 'margin-left: 20px' }
            \/ min

  .span6
    .well
      %h3
        System Stats &amp; Info
      %table
        %tr
          %td
            = image_tag 'icons/comp.gif'
            Uptime:
          %td
            %span#uptime{ :style => 'margin-left: 20px' }
        %tr
          %td
            = image_tag 'icons/load.gif'
            Avg Load:
          %td
            %span#load1{ :style => 'margin-left: 20px' }
            %span#load2
            %span#load3
        %tr
          %td
            = image_tag 'icons/memory.gif'
            Memory:
          %td
            %span#memory_stat{ :style => 'margin-left: 20px' }
              = h @server.usedmem
              MB \/
              = h @server.totalmem
              MB

  .span6
    .well
      %h3
        CPU/Processor Info
      %table
        %tr
          %td
            = image_tag 'icons/cpu.gif'
            CPU:
          %td
            %span#cpu{ :style => 'margin-left: 20px' }
              = @server.cpu
        %tr
          %td
            = image_tag 'icons/cpunum.gif'
            CPU(s):
          %td
            %span#cpucount{ :style => 'margin-left: 20px' }
              = @server.cpucount
        %tr
          %td
            = image_tag 'icons/speed.gif'
            Speed:
          %td
            %span#cpumhz{ :style => 'margin-left: 20px' }
              = @server.cpumhz

  .span6
    .well
      %h3
        Distro &amp; Os Info
      %table
        %tr
          %td
            = image_tag 'icons/distro.gif'
            Linux Distro:
          %td{ :style => 'padding-left: 20px' }
            = @server.distro
        %tr
          %td
            = image_tag 'icons/kernel.gif'
            Kernel:
          %td{ :style => 'padding-left: 20px' }
            = @server.kernelver
        %tr
          %td
            = image_tag 'icons/platform.gif'
            Platform:
          %td{ :style => 'padding-left: 20px' }
            = @server.platform
