- content_for :main_title do
  Bandwidth 

- content_for :page_title do
  %h1 Bandwidth

- content_for :head do
  %script{:type => "text/javascript", :src => "http://google.com/jsapi"}
  :javascript
    google.load("visualization", "1", {packages:["corechart"]});
    google.setOnLoadCallback(drawCharts);
    function drawCharts() {
      var data = new google.visualization.DataTable();
      data.addColumn('string', 'Bandwidth Usage Over The Last 24 Hours');
      data.addColumn('number', 'TX');
      data.addColumn('number', 'RX');
      data.addRows(24);
      #{@data_vis_24hr}
      var chart = new google.visualization.ColumnChart(
        document.getElementById('chart_bandwidth_24hr'));
      chart.draw(data, {width: 640, height: 400, 
        chartArea: {left:100,top:20,width:"75%",height:"80%"} });

      data = new google.visualization.DataTable();
      data.addColumn('string', 'Bandwidth Usage Over The Last Week');
      data.addColumn('number', 'TX');
      data.addColumn('number', 'RX');
      data.addRows(7);
      #{@data_vis_7days}
      var chart = new google.visualization.ColumnChart(
        document.getElementById('chart_bandwidth_7days'));
      chart.draw(data, {width: 640, height: 400, 
        chartArea: {left:100,top:20,width:"75%",height:"80%"} });

      data = new google.visualization.DataTable();
      data.addColumn('string', 'Bandwidth Usage Over The Last Year');
      data.addColumn('number', 'TX');
      data.addColumn('number', 'RX');
      data.addRows(12);
      #{@data_vis_year}
      var chart = new google.visualization.ColumnChart(
        document.getElementById('chart_bandwidth_year'));
      chart.draw(data, {width: 640, height: 400, 
        chartArea: {left:100,top:20,width:"75%",height:"80%"} });
    }

.row
  .span11
    %h3.highlight
      Bandwidth 24 Hours
    %h4.highlight
      TX and RX usage over the last 24 hours.
    #chart_bandwidth_24hr.chart
    %h3.highlight
      Bandwidth Usage Last 7 Days
    %h4.highlight
      TX and RX usage over the last week.
    #chart_bandwidth_7days.chart
    %h3.highlight
      Bandwidth Usage Last 12 Months
    %h4.highlight
      TX and RX usage over the last year.
    #chart_bandwidth_year.chart

  .span5
    .well
      %h3
        Bandwidth Totals
      %table
        %tbody
          %tr
            %td
            %td TX
            %td RX
          %tr
            %td
              Last 24 Hours
            %td
              = number_to_human_size(@total_24hr_tx)
            %td
              = number_to_human_size(@total_24hr_rx)
          %tr
            %td
              Last Week
            %td
              = number_to_human_size(@total_1week_tx)
            %td
              = number_to_human_size(@total_1week_rx)
          %tr
            %td
              Last Year
            %td
              = number_to_human_size(@total_1year_tx)
            %td
              = number_to_human_size(@total_1year_rx)