- content_for :main_title do
  Memory 

- content_for :page_title do
  %h1 Memory

- content_for :head do
  %script{:type => "text/javascript", :src => "http://google.com/jsapi"}
  :javascript
    google.load("visualization", "1", {packages:["corechart"]});
    google.setOnLoadCallback(drawCharts);
    function drawCharts() {
      var data = new google.visualization.DataTable();
      data.addColumn('string', 'Minumum and Maximum % Memory Usage 24HRS');
      data.addColumn('number', 'Minimum');
      data.addColumn('number', 'Maximum');
      data.addRows(24);
      #{@data_vis_24hr}
      var chart = new google.visualization.AreaChart(
        document.getElementById('chart_memory_24hr'));
      chart.draw(data, {width: 640, height: 400, 
        chartArea: {left:40,top:20,width:"75%",height:"80%"},
        });

      data = new google.visualization.DataTable();
      data.addColumn('string', 'Minumum and Maximum % Memory Usage 1 Week');
      data.addColumn('number', 'Minimum');
      data.addColumn('number', 'Maximum');
      data.addRows(7);
      #{@data_vis_7days}
      var chart = new google.visualization.ColumnChart(
        document.getElementById('chart_memory_7days'));
      chart.draw(data, {width: 640, height: 400, 
        chartArea: {left:40,top:20,width:"75%",height:"80%"} });

      data = new google.visualization.DataTable();
      data.addColumn('string', 'Minumum and Maximum % Memory Usage 1 Year');
      data.addColumn('number', 'Minimum');
      data.addColumn('number', 'Maximum');
      data.addRows(12);
      #{@data_vis_year}
      var chart = new google.visualization.ColumnChart(
        document.getElementById('chart_memory_year'));
      chart.draw(data, {width: 640, height: 400, 
        chartArea: {left:40,top:20,width:"75%",height:"80%"} });
    }

.row
  .span11
    %h3.highlight
      Memory Usage Last 24 Hours
    %h4.highlight
      Minimum and Maximum memory usage over the last 24 hours.
    #chart_memory_24hr.chart
    %h3.highlight
      Memory Usage Last 7 Days
    %h4.highlight
      Minimum and Maximum memory usage over the last week.
    #chart_memory_7days.chart
    %h3.highlight
      Memory Usage Last 12 Months
    %h4.highlight
      Minimum and Maximum memory usage over the last 12 months.
    #chart_memory_year.chart

  .span5
    .well
      %h2
        Memory Realtime
      #memory
        Memory used
        #memory2
          = h @server.usedmem
          \/
          = h @server.totalmem
        Swap Used
        #swap2
          = @server.usedswap
          \/
          = @server.totalswap
      %span#timer-text
        Next Update in 4 Seconds.

    %form
      %input#server_id{ :name => "server_id", :type => "hidden", :value => @server.id }
