- if @server.errors
  %div.box
    = f.error_messages

.clearfix
  = f.label 'Hostname'
  .input
    = f.text_field :hostname
    %span.help-block
      The hostname e.g. hostname.com or an IP address e.g. 127.8.9.252

.clearfix
  = f.label 'SSH Username'
  .input
    = f.text_field :username, :autocomplete => 'off'
    %span.help-block
      Provide a username you have created for ServerMonitoringHQ or a standard username.

.clearfix
  = f.label 'SSH Password'
  .input
    = f.password_field :password, :autocomplete => 'off'
    %span.help-block
      If you are using SSH key authentication you don't need to supply a password.

.clearfix
  = f.label 'Port'
  .input
    = f.text_field :ssh_port
    %span.help-block
      The SSH process defaults to port 22 but if you have SSH running on a different port then please enter it here.

.clearfix
  = f.label :name, "Display Name"
  .input
    = f.text_field :name
    %span.help-block
      From now on I'd like you to refer to this server as

= f.hidden_field :keychain_id

%input{ :type => 'hidden', :name => 'ssh' }
