%tr
  %th Name
  %th Last Response
  %th Load
  %th Memory
  %th Swap
  %th Ports
  %th Pages
  %th Action
- for server in @servers
  %tr
  - if server.cpuload == nil
    %td
      %strong
        = server.name
    %td
      %span.label
        Awaiting Data 
    %td
      &nbsp;
    %td
      &nbsp;
    %td
      &nbsp;
    %td
      &nbsp;
    %td
      &nbsp;
  - else
    %td
      %strong
        = link_to server.name, :controller => :statistics, :id => server.id
    %td
      - if server.updated_at < 2.minutes.ago
        %span.label.label-important
          = time_ago_in_words(server.updated_at)
          ago
      - else
        %span.label.label-success
          = time_ago_in_words(server.updated_at)
          ago
    %td
      %span.label.warning
        = server.cpuload
    %td
      %span.label.warning
        = number_to_percentage(server.mem_percentage, :precision => 2, :strip_insignificant_zeros => true)
    %td
      %span.label.warning
        = number_to_percentage(server.swap_percentage, :precision => 2, :strip_insignificant_zeros => true)
    %td
      - if server.ports_up?
        %span.label.label-success UP
      - else
        %span.label.label-important DOWN
    %td
      - if server.pages_up?
        %span.label.label-success UP
      - else
        %span.label.label-important DOWN

  %td
    %a{ :href => rename_server_path(server), :rel => 'facebox', 
        :title => 'Rename Server' }
      %i.icon-retweet
    %a{ :href => remove_server_path(server), :rel => 'facebox', 
        :title => 'Delete Server' }
      %i.icon-trash
    %a{ :href => configure_server_path(server), :title => 'Edit Server' }
      %i.icon-pencil
