- for server in servers
  .box.servers
    .inner
      %table.server-table
        %caption
          = link_to server.name, :controller => :statistics, :id => server.id
        %tr
          %td
            %ul
              %li
                Distribution
              %li
                %strong
                  = h server.distro
              %li
                Kernel
              %li
                %strong
                  = h server.kernelver
              %li.edit-links
                = link_to 'Rename', rename_server_path(server), :rel => 'facebox'
                = link_to 'Delete', remove_server_path(server), :rel => 'facebox'
                - if server.url != nil
                  = link_to 'Edit', agentedit_server_path(server)
                - else
                  = link_to 'Edit', edit_server_path(server)
          %td.stats{ :nowrap => 'nowrap', :width => '22%' }
            %h3
              Load
            %strong
              = server.cpuload
          %td.stats{ :nowrap => 'nowrap', :width => '22%' }
            %h3
              Memory
            %strong
              = server.mem_percentage
              \%
          %td.stats{ :nowrap => 'nowrap', :width => '22%' }
            %h3
              Swap
            %strong
              = server.swap_percentage
              \%
          %td
            .commands
              %ul.status-list
                %li
                  - cls = server.pages.any? { |page| page.status_text.eql? 'Down' } ? 'down' : 'up'
                  = link_to 'Pages', server_pages_path(server), :class => cls
                %li
                  - cls = server.ports.any? { |port| port.status_text.eql? 'Down' } ? 'down' : 'up'
                  = link_to 'Ports', server_ports_path(server), :class => cls
                %li
                  - cls = server.serverdown?  ? 'down' : 'up'
                  %span{ :class => cls }
                    Connection

