- content_for :page_title do
  %h1
    All Servers
    %small
      Server Status
      %span#timer-text
        Next update in 4 seconds.
.row
  .span11  
    %table.zebra-striped
      %tr
        %th Name
        %th Load
        %th Memory
        %th Swap
        %th Action
      - for server in @servers
        %tr
          %td
            = link_to server.name, :controller => :statistics, :id => server.id
          %td
            %h4
              = server.cpuload
          %td
            %h4
              = number_to_percentage(server.mem_percentage, :precision => 2, :strip_insignificant_zeros => true)
          %td
            %h4
              = number_to_percentage(server.swap_percentage, :precision => 2, :strip_insignificant_zeros => true)
          %td
            = link_to 'Rename', rename_server_path(server), :rel => 'facebox'
            = link_to 'Delete', remove_server_path(server), :rel => 'facebox'
            - if server.url != nil
              = link_to 'Edit', agentedit_server_path(server)
            - else
              = link_to 'Edit', edit_server_path(server)

  .span5
    .block-message.warning.alert-message
      - if current_user.account.server_limit_reached?
        %h3 Monitor More servers?
        %p 
          You'll need to upgrade your plan if you want to monitor any more servers.
      - else
        %h3 Monitor a Server

        %p 
          There are 2 ways we can collect statistics from your server. We can connect directly via SSH 
          or you can install our web based agent.
        %p
          = link_to 'Collect Data via SSH', new_server_path, :class => 'btn info'
        %p
          or
        %p
          = link_to 'Collect Data via Agent', newagent_servers_path, :class => 'btn info'

    - if current_user.account.servers.count > 0
      .block-message.success.alert-message
        %h3 Public Dashboard Link

        %p 
          Click the button to generate a link to a read only public dashboard.
        %p
          %a.btn.primary{ :href => '/lost' }
            Get Code

- if @servers.length > 0
  = render 'servers/public_code', :servers => @servers
