%fieldset
  %h3 First Name
  = f.label :first_name
  = f.text_field :first_name
%fieldset
  %h3 Last Name
  = f.label :last_name
  = f.text_field :last_name
%fieldset
  %h3 Email
  = f.label :email
  = f.text_field :email
%fieldset
  %h3 Mobile Number
  = f.label :mobile_number
  = f.text_field :mobile_number

  - if current_user.id == @user.id
    %fieldset
      %h3 Change Password
      %p
        If you want to change your password fill in the fields
        below. Otherwise leave it blank to keep your password the same.
        = f.password_field :password, :autocomplete => 'off'
    %fieldset
      %h3 Confirm Password
      = f.label :password_confirmation
      = f.password_field :password_confirmation, :autocomplete => 'off'
