- @user.password = @user.password_confirmation = nil

.row
  .span16
    = error_messages_for :account
    = error_messages_for :user

    = form_for @user, :html => { :class => 'sign-up'} do |f|

      = render :partial => 'users/plan_form'

      .clearfix
        = f.label :first_name, 'First Name'
        .input
          = f.text_field :first_name
      .clearfix
        = f.label :last_name, 'Last Name'
        .input
          = f.text_field :last_name
      .clearfix
        = f.label :email, 'Email'
        .input
          = f.text_field :email
      .clearfix
        = f.label :login, 'Login'
        .input
          = f.text_field :login, :autocomplete => 'off'
      .clearfix
        = label(:account, :plan_id, "Plan")
        .input
          = select(:account, :plan_id, [['Basic - Monitor 1 Server', 0], ['Plus - Monitor 5 Servers', 1], ['Premium - Monitor 10 Servers', 2], ['Max - Monitor 20 Servers', 3]])
      .clearfix
        = f.label :password, 'Password'
        .input
          = f.password_field :password, :autocomplete => 'off'
      .clearfix
        = f.label :password_confirmation, 'Confirm Password'
        .input
          = f.password_field :password_confirmation

      .actions
        %button.btn.primary{ :type => 'submit' } Sign Me Up
