#context-header
  .inner-page
    .left-side
      %h1
        Add a contact
      %p
        They can receive alerts from ServerPulse
.inner-page
  = form_for @user, :html => { :class => 'data-entry'} do |f|
    = f.error_messages
    %fieldset
      %h3
        Add the details of the person you'd like to make a contact
    = render :partial => 'users/contactform', :locals => {:f => f}
    %fieldset.buttons
      = f.submit 'Add Contact', :class => 'awesome'
      or
      = link_to('Cancel', users_path)

  :javascript
    document.getElementById('user_first_name').focus();
