#context-header
  .inner-page
    .left-side
      %h1
        - if current_user.id == @user.id
          = "#{current_user.name}'s Profile"
        - else
          Edit
          = @user.name
.inner-page
  - if flash[:notice]
    .item-details.flash
      %h2
        = flash[:notice]
  = form_for @user, :html => { :class => 'data-entry'}, :url => user_path(@user) do |f|
    = render :partial => 'users/contactform', :locals => {:f => f}
    %fieldset.buttons
      = f.submit 'Update Profile', :class => 'awesome'
      or
      = link_to('Cancel', :back)
