#context-header
  .inner-page
    .left-side
      %h1
        People
.yui-gc.inner-page
  .yui-u.first
    %table.data
      %caption
        Contacts (with account access)
      %tr
        %th{ :style => 'width:25%' }
          Name
        %th{ :style => 'width:25%' }
          Login
        %th{ :style => 'width:25%' }
          Mobile Number
        %th
          Action
      - for user in @users
        %tr
          %td.name
            = link_to user.name, user
          %td
            = user.login
          %td
            = user.mobile_number
          %td.action
            = link_to 'Delete', user, :confirm => 'Are you sure?', :method => :delete
            \|
            = link_to 'Edit', edit_user_path(user)
    %table.data
      %caption
        Contacts
      %tr
        %th{ :style => 'width:25%' }
          Name
        %th{ :style => 'width:25%' }
          Email
        %th{ :style => 'width:25%' }
          Mobile Number
        %th
          Action
      - for user in @people
        %tr
          %td.name
            = link_to user.name, user
          %td
            = user.email
          %td
            = user.mobile_number
          %td.action
            = link_to 'Delete', user, :confirm => 'Are you sure?', :method => :delete
            \|
            = link_to 'Edit', edit_user_path(user)
            \|
            = link_to 'Invite', :controller => :users, :action => :invite, :id => user.id
  .yui-u
    .box
      .inner
        %h2 Create a New Contact
        %p 
          Monitors set the criteria by which we measure server performance.
        %p.button 
          = link_to 'New Contact', add_users_path, :class => 'awesome'
