.row
  .span11
    %h1
      Invitation for account access

    %p
      Once the invitation is sent
      = h @user.first_name
      = h @user.last_name
      Will have full access to your account.

    = form_tag(send_invite_users_path, :html => { :class => 'edit-form' }) do
      = hidden_field_tag(:id, @user.id)

    %p
      %button.btn.primary{:type => 'submit'} Send Invitation
      or
      = link_to('Cancel', users_path, :class => 'btn')
