%h2
  Accept invitation
- @user.password = @user.password_confirmation = nil
= error_messages_for :user
= form_for(@user, :url => { :action => 'accept_invitation', :id => @invite.code }) do |f|
  %fieldset
    %legend
      Personal Details
    = f.label :first_name
    = f.text_field :first_name
    = f.label :last_name
    = f.text_field :last_name
    = f.label :email
    = f.text_field :email
  %fieldset
    %legend
      Account Details
    = f.label :login
    = f.text_field :login
    = f.label :password
    = f.password_field :password
    = f.label :password_confirmation, 'Confirm Password'
    = f.password_field :password_confirmation
    = hidden_field_tag :invite_id, @invite.code
  %fieldset
    = submit_tag 'Sign up'
