= error_messages_for :user
#container
  .bubble
    .rectangle
      %h2
        Request Password
    .triangle-l
    .triangle-r
    .info
      - form_for :user do |f|
        %p
          = f.label :password
          %br
          = f.password_field :password
        %p
          = f.label :password_confirmation
          %br
          = f.password_field :password_confirmation
        %p
          = submit_tag 'Reset'
