= error_messages_for :user

.row
  .span16
    %h1 Request Password
    
    = form_for :user do |f|
      .clearfix
        = f.label :password
        .input
          = f.password_field :password
      .clearfix
        = f.label :password_confirmation
        .input
          = f.password_field :password_confirmation
      
      .actions
        %button.btn.primary{:type => 'submit'} Reset
