.row
  .span3.plan.basic
    .well
      %div
        %h3 Basic
        %p 
          %em 10 Servers
        %p
          $10/Month
      %ul.unstyled
        %li
          %strong Monitor Every Minute
        %li
          %strong 5 Ports Per Server
      - if current_user
        - if current_user.account.plan_id > 0
          = link_to("Disabled", '#', :class => 'btn')
        - elsif current_user != nil and current_user.account.plan_id == 0
          = link_to("Your Current Plan", '#', :class => 'btn')
        - else
          = link_to("Upgrade", paypal_path(0), :class => 'btn btn-primary')
      - else
        = link_to("Sign Up", signup_path(:plan_id => "0"), :class => 'btn btn-primary')
          
      
  .span3.plan.plus
    .well
      %div
        %h3 Plus
        %p 
          %em 25 Servers
        %p
          $20/Month
      %ul.unstyled
        %li 
          %strong Monitor Every Minute
        %li 
          %strong Unlimited Ports
      - if current_user
        - if current_user.account.plan_id > 1 and current_user.account.active?
          = link_to("Disabled", '#', :class => 'btn')
        - elsif current_user.account.plan_id == 1 and current_user.account.active?
          = link_to("Your Current Plan", '#', :class => 'btn')
        - else
          = link_to("Upgrade", paypal_path(1), :class => 'btn btn-primary')
      - else
        = link_to("Sign Up", signup_path(:plan_id => "1"), :class => 'btn btn-primary')

  .span3.plan.premium
    .well
      %div
        %h3 Premium
        %p 
          %em 100 Servers
        %p
          $50/Month
      %ul.unstyled
        %li
          %strong Monitor Every Minute
        %li
          %strong Unlimited Ports
      - if current_user
        - if current_user.account.plan_id > 2 and current_user.account.active?
          = link_to("Disabled", '#', :class => 'btn')
        - elsif current_user.account.plan_id == 2 and current_user.account.active?
          = link_to("Your Current Plan", '#', :class => 'btn')
        - else
          = link_to("Upgrade", paypal_path(2), :class => 'btn btn-primary')
      - else
        = link_to("Sign Up", signup_path(:plan_id => "2"), :class => 'btn btn-primary')

  .span3.plan.max
    .well
      %div
        %h3 Max
        %p 
          %em 200 Servers
        %p
          $100/Month
      %ul.unstyled
        %li
          %strong Monitor Every Minute
        %li
          %strong Unlimited Ports
      - if current_user
        - if current_user.account.plan_id > 3 and current_user.account.active?
          = link_to("Disabled", '#', :class => 'btn')
        - elsif current_user.account.plan_id == 3 and current_user.account.active?
          = link_to("Your Current Plan", '#', :class => 'btn')
        - else
          = link_to("Upgrade", paypal_path(3), :class => 'btn btn-primary')
      - else
        = link_to("Sign Up", signup_path(:plan_id => "3"), :class => 'btn btn-primary')
