- content_for :title, "Server Monitoring - CPU, Load and Bandwidth"
- content_for :navigation, @selected_nav = :home

:javascript
  mixpanel.track("Acquisition");

#headings
  %h1.heading Get notified BEFORE your server goes down, not afterwards.
  %h2.subheading 
    Web page AND server monitoring for the cost of a Pingdom account.

%p{:style => "text-align: center; margin: 0; padding: 0; height:250px"}
  = image_tag("marketing/ServerPulseNewLook.png", 
    :alt => 'Server Monitoring Screenshot', 
    :width => "900", :height => "250")
  
#signup-call
  %a{:href => '/buy'} 
    Sign up now for a free 14 day trial &mdash; 
    30 second signup &mdash; no credit card required &gt;&gt;
  
.container#marketing
  .row
    .span3
      %h3 Installed and running in Seconds
      %p
        Add 1 line to your crontab and you're done.  
      %p
        The SMHQ agent is a bash script and runs without modifying your server.
    .span3
      %h3 CPU, Memory, Bandwidth and Disk Monitoring
      %p
        Just by monitoring these 4 items you can pre-empt most server down time.  
      %p
        A hack attempt on your server will generally trigger alerts.

    .span3
      %h3 Web Page and Port monitoring
      %p
        MySQL down ? A simple monitor on port 3306 will spot this.  
      %p
        Shopping cart down ? Web page monitoring just one of several checks we're making for you.

    .span3
      %h3 Historic Data and Graphs for 1 Year
      %p
        Predict memory, bandwidth usage and load trends with 24 hour,
        7 day and 1 year graphs.
      %p
        See how your server responds to load testing.

  .row
    .well
      %blockquote
        %p 
          &quot;
          Page monitoring, disk monitoring, easy to install. 
          Everything you could want from a competitive monitoring solution. 
          Sign up you won't regret it.
          &quot;
        %small
          David Smith, London (bitehouse.co.uk)

  .row.screengrabs
    .span3
      = image_tag("marketing/front-screen1.png", :width => "210", :height => "90", :alt => "Bar Graph")
      %h3{ :style => 'margin-top: 15px' }
        Alert Escalation
      %p
        Configure alert escalations. e.g. Contact support after 5 mins, managers after 1 hour.
    .span3
      = image_tag("marketing/front-screen2.png", :width => "210", :height => "90", :alt => "Bar Graph")
      %h3{ :style => 'margin-top: 15px' }
        Fine Tune Triggers
      %p
        Only want to monitor disk space ? SMHQ can monitor disks for one team and CPU for another.
    .span3
      = image_tag("marketing/front-screen3.png", :width => "210", :height => "90", :alt => "Bar Graph")
      %h3{ :style => 'margin-top: 15px' }
        Free SMS Alerts
      %p
        SMS and email alerts are free. We'll be adding twitter alerts soon too.

    .span3
      = image_tag("marketing/front-screen4.png", :width => "210", :height => "90", :alt => "Bar Graph")
      %h3{ :style => 'margin-top: 15px' }
        1 Minute Granularity
      %p
        We can monitor servers down to 1 minute resolution so you see issues as soon as they happen.

  .row
    .well
      %blockquote
        %p 
          &quot;We had a CPU load alert from ServerMonitoringHQ 2 days ago. 
          We're sure the heads up saved us from a potential outage on a production server.&quot;
        %small
          Ian Scott, Montreal (VPSLime.com)
