%tr
  %td.name
    = h page.title
  %td
    = h page.url
  %td
    = h page.status_text
  %td
    = h page.search_text
  %td.action
    = link_to 'Edit', edit_server_page_path(@server, page)
    \|
    = link_to 'Delete', server_page_path(@server, page), :confirm => 'Are you sure?', :method => :delete