- content_for :title do
  Web Page Monitoring
  
#context-header
  .inner-page
    .left-side
      %h1
        Live Statistics
      %p
        Next update in 4 seconds.
    .right-side
.inner-page
  %p
    %b
      Title:
    = h @page.title
  %p
    %b
      URL:
    = h @page.url
  %p
    %b
      Search text:
    = h @page.search_text
  %p
    %b
      Follow Redirects:
    - if @page.follow_redirects
      Yes
    - else
      No
  = link_to 'Edit', edit_server_page_path(@server, @page)
  |
  = link_to 'Back', server_pages_path(@server)
