.container
  .row
    .span12
      %h1{ :style => 'margin-top: 40px; margin-bottom: 20px' }
        Contact Us
        
      - if flash[:notice]
        .alert-message
          %h4= flash[:notice]
        
      = form_for @contact, :url => { :action => "create" }, :html => { :method => :post,
        :class => 'form-stacked'} do |f|
        - if @contact.errors.any?
          .alert-message.block-message.error
            = "#{pluralize(@contact.errors.count, "error")} prohibited this contact from being saved:" 
            %ul 
            - @contact.errors.full_messages.each do |msg| 
              %li= msg
        .clearfix
          = label(:sender_name, :label, 'Sender Name')
          .input
            = f.text_field :sender_name, :class => 'xlarge'
        .clearfix
          = label(:email, :label, 'Email')
          .input
            = f.text_field :email, :class => 'xlarge'
        .clearfix
          = label(:type, :label, 'Type')
          .input
            = f.select :support_type, options_for_select(["Bug", "Ask", "Idea"])
        .clearfix
          = label(:details, :label, 'Details')
          .input
            = f.text_area :content, :class => 'xlarge'

        .actions
          = f.submit 'Send', :class => 'btn primary'
    .span4
      = render 'blogs/sidebar'
