- if @measure.errors.size > 0
  %div.box
    = f.error_messages

.control-group
  = f.label :name, 'Display Name', :class => 'control-label'
  .controls
    = f.text_field :name
    %span.help-block
      Give the monitor a memorable name e.g. Load &amp; Memory Monitor

.control-group
  = f.label :notify_pages, "Web Page Checking", :class => 'control-label'
  .controls
    = f.check_box :notify_pages
    %span.help-block
      ServerMonitoringHQ can scan web pages and will report 404 errors. 
      Click on your server and then the pages tab.

.control-group
  = f.label :notify_ports, "TCP/IP Port checking", :class => 'control-label'
  .controls
    = f.check_box :notify_ports
    %span.help-block
      Port checking is enabled from the ports tab.
  
.control-group
  = f.label :notify_mem, "Memory Usage", :class => 'control-label'
  .controls
    = f.check_box :notify_mem
  
    %span.help-block Create an incident if memory usage exceed the value below.
    
    %table.form-table
      %tr
        %td.normal
          Memory
        %td.memory{ :style => "padding-left: 15px" }
          .slider
        %td.normal
          %span#memory-show
            0
          \%
          = f.hidden_field :mem_perc, :id => 'memory-value'

.control-group
  = f.label :notify_swap, "Monitor Swap Space", :class => 'control-label'
  .controls
    = f.check_box :notify_swap
  
    %span.help-block Create an incident if swap exceeds...
    
    %table.form-table
      %tr
        %td.normal
          Swap
        %td.swap{ :style => "padding-left: 15px" }
          .slider
        %td.normal
          %span#swap-show
            0
          \%
          = f.hidden_field :swap_perc, :id => 'swap-value'

.control-group
  = f.label :notify_load, "Monitor CPU Usage", :class => 'control-label'
  .controls
    = f.check_box :notify_load
  
    %table.form-table
      %tr
        %td.normal
          Load
        %td.load{ :style => "padding-left: 15px" }
          .slider
        %td.normal
          %span#load-show
            0
          \%
          = f.hidden_field :load_perc, :id => 'load-value'

.control-group
  = f.label :notify_disk, "Monitor Disk Space", :class => 'control-label'
  .controls
    = f.check_box :notify_disk
  
    %table.form-table
      %tr
        %td.normal
          Disk
        %td.disk{ :style => "padding-left: 15px" }
          .slider
        %td.normal
          %span#disk-show
            0
          \%
          = f.hidden_field :disk_perc, :id => 'disk-value'

.control-group
  = f.label :notify_heartbeat, "Check Availability", :class => 'control-label'
  .controls
    = f.check_box :notify_heartbeat
    %span.help-block
      If the server is not contactable via SSH this check will raise an incident.

.control-group
  = f.label :notify_bandwidth, "Monitor Bandwidth Usage", :class => 'control-label'
  .controls
    .controls-prepend
      %label.add-on
        = f.check_box :notify_bandwidth
      
      = f.text_field :bandwidth, :class => 'mini'
      
      = f.select(:bandwidth_scale, [['MB', 'MB'], ['GB', 'GB'], ['TB', 'TB']])
      = f.select(:bandwidth_time, [['1 Day', '1 Day'], ['1 Week', '1 Week'], ['1 Month', '1 Month']])
