%tr
  %td.name
    = link_to measure.name, measure
  %td
    %span.label.warning
      = h measure.mem_perc
      \%
  %td 
    %span.label.warning
      = h measure.load_perc
      \%
  %td
    %span.label.warning
      = h measure.swap_perc
      \%
  %td
    %span.label.warning
      = h measure.disk_perc
      \%
  %td.action
    %a{ :href => edit_measure_path(measure), :title => 'Edit Monitor'}
      %i.icon-pencil
    = link_to 'Destroy', measure, :confirm => 'Are you sure?', :method => :delete
