%a#logo{:href => "/"}
  %img{:src => "/images/server-monitoring-logo.png", :alt => "Server Monitoring", :width => '260', :height => '59'}
%nav
  %ul#tabs
    %li= link_to "Home", '/', :class => @selected_nav == :home ? "nav-highlight" : ""
    %li= link_to  "Tour &amp; Features", tour_path , :class => @selected_nav == :tour ? "nav-highlight" : ""
    %li= link_to  "Pricing &amp; Signup", buy_path, :class => @selected_nav == :pricing ? "nav-highlight" : ""
    %li= link_to  "Help &amp; Support", '/help', :class => @selected_nav == nil ? "nav-highlight" : ""
    %li= link_to  "Blog", 'http://blog.servermonitoringhq.com'
    %li
      = link_to_unless(current_user, "Login", login_path, :class => "login") { link_to("Servers", servers_path) }
.login-form
  - form_tag session_path do
    #normal_login.inner{:style => 'display:block'}
      #loginUsernameField
        %label{:for => 'loginUsername'}= :username
        != text_field_tag 'login', @login, :size => 30, :id => 'loginUsername', :class => 'medium'
      #loginPasswordField
        %label{:for => 'loginPassword'}= :password
        != password_field_tag 'password', nil, :size => 30, :id => 'loginPassword', :class => 'medium'
      #loginCustom
        = check_box_tag 'Remember Me', '1', @remember_me
        %label.checkbox{:for => 'Remember_Me'}= :remember_me
        %div
          != link_to :forgot_password , forgot_path
          != link_to :create_account, signup_path


    #dialogSubmit
      %button.submit{:type => 'submit'}= :login
