!!!5
%html
  %head
    %meta{ 'http-equiv' => 'content-type', :content => 'text/html;charset=UTF-8'}/
    %title
      = @title || "Server Monitoring"
    %link{:rel => 'icon', :href => '/assets/favicon.ico'} 
    = stylesheet_link_tag 'application'
    = javascript_include_tag 'application'

    = render :partial => "layouts/analytics"
  %body
    .topbar
      .topbar-inner
        .container
          = link_to('ServerMonitoring HQ', '/', :class => 'brand')

          = render 'layouts/main_nav'
    .container
      .row
        - if next_steps
          .alert-message.alert
            = raw(next_steps)
      .row
        %ul.tabs
          %li#server-tab{ :class => select_tab(/servers/) }
            = link_to 'Servers', servers_path
          %li#monitor-tab{ :class => select_tab(/measures/) }
            = link_to 'Monitors', measures_path
          %li#incidents-tab{ :class => select_tab(/incidents/) }
            = link_to 'Incidents', incidents_path
          %li#contacts-tab{ :class => select_tab(/users/) }
            = link_to 'Contacts', users_path
      .row
        .span16
          .page-info
            = yield :page_title

      = yield
      
    = render :partial => "layouts/footer"