!!!5
%html
  %head
    %meta{ 'http-equiv' => 'content-type', :content => 'text/html;charset=UTF-8'}/
    %title
      = @title || "Server Monitoring"
    %link{:rel => 'icon', :href => '/assets/favicon.ico'} 
    = stylesheet_link_tag 'application'
    = javascript_include_tag 'marketing'
    = render :partial => "layouts/analytics"

  %body
    #wrapper
      .navbar.navbar-fixed-top
        .navbar-inner
          .container
            = link_to('ServerMonitoring HQ', '/', :class => 'brand')
            .nav-collapse
              %ul.nav.secondary-nav.pull-right
                %li{ :class => select_tab(/^\/$/) }
                  = link_to 'Home', '/'
                %li{ :class => select_tab(/tour/) }
                  = link_to 'Tour & Features', tour_path
                %li{ :class => select_tab(/buy/) }
                  = link_to 'Pricing & Signup', buy_path
                %li{ :class => select_tab(/blog/) }
                  = link_to 'Blog', blog_index_path
                %li{ :class => select_tab(/contact/) }
                  = link_to 'Contact Us', contact_path
                %li
                  = link_to_unless(logged_in?, 'Login', login_path, :class => 'login') { link_to('Servers', servers_path) }

      #body.container

        = yield
      
      = render :partial => "layouts/footer"


      #login-form.modal.hide.fade
        = form_tag session_path do
          .modal-header
            = link_to 'x', '#', :class => 'close'
            %h3 Login
          .modal-body
            #loginUsernameField.clearfix
              %label{:for => 'loginUsername'}= :username
              .input
                != text_field_tag 'login', @login, :size => 30, :id => 'loginUsername', :class => 'medium'
            #loginPasswordField.clearfix
              %label{:for => 'loginPassword'}= :password
              .input
                != password_field_tag 'password', nil, :size => 30, :id => 'loginPassword', :class => 'medium'
            #loginCustom.clearfix
              %label.checkbox{:for => 'Remember_Me'}= 'Remember Me'
              .input
                = check_box_tag 'Remember Me', '1', @remember_me
            .clearfix
              .input
                = link_to 'Forgot Password' , forgot_path
                = link_to 'Create Account', signup_path

          .modal-footer
            %button.btn.primary{:type => 'submit'}= :login
      
