!!!5
%html
  %head
    %meta{ 'http-equiv' => 'content-type', :content => 'text/html;charset=UTF-8'}/
    %title
      = @title || "Server Monitoring"
    %link{:rel => 'icon', :href => '/assets/favicon.ico'} 
    = stylesheet_link_tag 'application'
    = javascript_include_tag 'application'
    = yield :head
    = render :partial => "layouts/analytics"
  %body
    #wrapper
      .topbar
        .topbar-inner
          .container

            = render 'layouts/main_nav'
      #body
        .top-back
        
          .container
            %ul.nav.nav-tabs.sm
              %li#server-tab.active{ :class => select_tab(/servers/) }
                = link_to 'Servers', servers_path
              %li#monitor-tab{ :class => select_tab(/measures/) }
                = link_to 'Monitors', measures_path
              %li#incidents-tab{ :class => select_tab(/incidents/) }
                = link_to 'Incidents', incidents_path
              %li#contacts-tab{ :class => select_tab(/users/) }
                = link_to 'Contacts', users_path
      
        .row
          .page-info
            .container
              = yield :page_title

              / start servers
              .row
                %ul.breadcrumb.pull-left
                  %li
                    = link_to 'Servers', servers_path
                    %span.divider /
                  %li
                    = link_to @server.name, server_path(@server)

                %ul.nav.nav-tabs.pull-right.servers-nav{ :style => 'margin-bottom: -1px' }
                  %li#live-stats-tab{ :class => select_tab(/index/) }
                    = link_to 'Summary', :action => 'index', :controller => 'statistics', :id => @server
                  %li#memory-tab{ :class => select_tab(/memory/) }
                    = link_to 'Memory', :action => 'memory', :controller => 'statistics', :id => @server
                  %li#processes-tab{ :class => select_tab(/processes/) }
                    = link_to 'CPU / Load', :action => 'processes', :controller => 'statistics', :id => @server
                  %li#downtime-tab{ :class => select_tab(/downtime/) }
                    = link_to 'Downtime', :action => 'downtime', :controller => 'statistics', :id => @server
                  %li#bandwidth-tab{ :class => select_tab(/bandwidth/) }
                    = link_to 'Bandwidth', :action => 'bandwidth', :controller => 'statistics', :id => @server
                  %li#ports-tab{ :class => select_tab(/ports/) }
                    = link_to 'Ports', server_ports_path(@server)
                  %li#pages-tab{ :class => select_tab(/pages/) }
                    = link_to 'Pages', server_pages_path(@server)
              / end servers
            
        / .alert-message.alert
        /   = raw(next_steps)
        .container
          = yield
      
      = render :partial => "layouts/footer"
